@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'vuestic-sass/index';
@import 'icon-fonts/index';

html {
  line-height: 1.15;
}
* {
  font-family: "Cairo", sans-serif;
}
// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 200 to 1000

// .cairo-<uniquifier> {
//   font-family: "Cairo", sans-serif;
//   font-optical-sizing: auto;
//   font-weight: <weight>;
//   font-style: normal;
//   font-variation-settings:
//     "slnt" 0;
// }
body {
  line-height: 1;
  font-family: "Cairo", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  line-height: 1.2;
  font-weight: 600;
}

code,
kbd,
samp,
pre {
  font-family: monospace;
  font-size: 1em;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.p-button,
.p-button.p-button-success {
  background-color: #de4915 !important;
  border-color: #de4915 !important;
  color: #fff;
}

.va-sidebar__menu{
  background-color: #384E59 !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.other {
  background-color: #de4915 !important;
  border-color: #de4915 !important;
  color: #fff;
}
.pop {
  background-color: #098071 !important;
  border-color: #098071 !important;
  color: #098071;
}
.exite {
  background-color: #3d9209 !important;
  border-color: #3d9209 !important;
  color: red;
}

.delete {
  border-radius: 50%;
  background-color: rgb(185, 17, 17) !important;
  border-color: rgb(177, 21, 21) !important;
  color: red;
  font-size: 16px;
}
.new {
  background-color: #de4915 !important;
  border-color: #de4915 !important;
}
.p-rating .p-rating-item .p-rating-icon {
  color: rgb(166, 166, 0) !important;
}
.va-va-sidebar__item .va-sidebar-item  {
  background-color: rgb(255, 255, 255) !important;
}
.p-button-text{
  color:white !important;
}
.notification-dropdown__content
{
   max-height: 300px !important;
  width: 300px !important;
  overflow: hidden !important;
}
.va-sidebar-item-content{
  color: white;
}
.bord{

  border: 1.5px solid black !important;

}
.p-datatable-tbody{
  grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
}
canvas{
  height: 550px !important;
}
